<section class="bg-dark-30 showcase-page-header module parallax-bg">
  <div class="titan-caption">
    <div class="caption-content">
        <div class="font-alt mb-40 titan-title-size-3">Prueba técnica</div>
        <div class="font-alt mb-30 titan-title-size-2">Evaluación fullstack junior.</div>
        <div class="font-alt mb-30 titan-title-size-1">Francisco Hernan Aravena Oñate.</div>
        <a class="section-scroll btn btn-border-w btn-round" href="https://www.github.com/fharavena" target="_blank">Ver otros proyectos</a>
    </div>
  </div>
</section>
