<div class="row mx-5">
  <h1>Ventas</h1>
  <div class='col-12'>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/venta']">Venta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalle</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mx-5">
  <div *ngIf="!saleDetail && !msgError" class="col-12 loading">
    <div class="loader" style="margin: auto; margin-top: 15%"></div>
  </div>
</div>

<div class="row mx-5 my-2" *ngIf="msgError">
  <div class='col-12'>
    <div class="alert alert-danger" role="alert">
      {{ msgError }}
    </div>
  </div>
</div>

<div *ngIf="saleDetail">

  <div class="row mx-5 my-2">
    <div class='col-6'>
      cliente: {{ saleDetail["cliente"]["nombre"] }}<br>
      descuento: {{saleDetail["descuento"]}} %<br>
    </div>
    <div class='col-6' style="text-align: right;">
      fecha: {{saleDetail["fecha"]}} <br>
    </div>
  </div>
  <div class="row mx-5 my-2">
    <div class='col-12'>
      <table class="table table-hover table-primary">
        <thead>
          <tr>
            <th scope="col">producto</th>
            <th scope="col">precio unitario</th>
            <th scope="col">cantidad</th>
            <th scope="col">subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of saleDetail['items']">
            <td>{{item["producto"]["nombre"]}}</td>
            <td>{{item["producto"]["precio"]}}</td>
            <td>{{item["cantidad"]}}</td>
            <td>{{item["subtotal"]}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
  <div class="row mx-5 my-2">
    <div class='col-8'>
    </div>
    <div class='col-2' style="text-align: right;">
      <p>total sin descuento:</p>
      <p>total con descuento:</p>
      <p>IVA:</p>
      <p>total con iva:</p>
    </div>
    <div class='col-2' style="text-align: right;">
      <p>{{ saleDetail["total"] }}</p>
      <p>{{ (saleDetail["total"] - (saleDetail["descuento"] * saleDetail["total"])/100).toFixed(0) }}</p>
      <p>{{ (saleDetail["iva"]).toFixed(0) }}</p>
      <p>{{ ((saleDetail["total"] + (saleDetail["descuento"] * saleDetail["total"])/100)*1.19).toFixed(0) }}</p>
    </div>
  </div>

</div>
